/* Css properties */
body {
  font-family: "Open Sans", sans-serif;
  background: hsl(205, 100%, 96%);
  color: hsl(205, 86%, 17%);
  line-height: 1.5;
  font-size: 0.875rem;
}

.container-fluid {
  width: 100%;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

.row > *:not(.underline, .form-control) {
  box-sizing: border-box;
  padding: 10px;
}

.align-self-center {
  align-items: flex-end;
  justify-content: center;
}

.col-12 {
  width: 100vw;
}
.col-9 {
  width: 900px;
}

.col-8 {
  width: 800px;
}

.col-6 {
  width: 500px;
}

.col-4 {
  width: 400px;
}

.col-3 {
  width: 300px;
}

.mr-auto {
  margin-left: 20px;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
  margin-right: 20px;
}

p {
  max-width: 60em;
}
#navbar {
  background-color: #32681d;
  /* background-color: #003d00; */
  width: 100%;
  color: floralwhite;
  min-height: 50px;
  line-height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.jumbotron {
  background-color: #32681d;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 70px 30px 70px 30px;
  color: floralwhite;
  align-items: center;
}
.tagline {
  max-width: 600px;
}

.jumbotron h1 {
  font-size: 36px;
}

.jumbotron p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.bg-dark {
  color: #fff;
}

#navbar ul li {
  display: inline;
  margin-right: 5px;
}

img {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 0.25rem solid goldenrod;
  border-radius: 0.5rem;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.table-bordered {
  box-sizing: border-box;
  font-size: 20px;
  border: 1px solid grey;
  position: relative;
  width: 100%;
  padding: 5px;
}

.table-bordered caption {
  font-size: 26px;
  background-color: #2b3ddd;
}

footer {
  box-sizing: border-box;
  background-color: #619648;
  padding: 15px;
}

.highlights-item {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.highlight {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.highlight-description {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.highlight-description h3 {
  border-bottom: 0.5px dotted;
}

.list-unstyled {
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  right: 0;
  top: 100%;
  position: absolute;
  padding-top: 5px;
  background-color: #fff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  z-index: 9999;

  height: auto;
  width: 200px;
}

.dropdown-content li {
  display: block;
  font-size: 0.85rem;
}

.menu-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.item-img {
  margin-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.item-description {
  padding: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 300px;
}

.item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5px dotted;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: #c59d5f;
  margin-left: auto;
  margin-right: auto;
}

/* Breadcrumn */
.breadcrumb {
  line-height: 1.5em;
  font-size: 26px;
  background-color: #e9ecef;
}

.breadcrumb * {
  margin: 0 8px;
}

.form-control {
  margin-bottom: 15px;
}

.form-control-input {
  position: relative;
  height: 1.5em;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-textarea {
  position: relative;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  position: relative;
  width: 10rem;
  text-align: center;
  height: 2.5em;
  font-size: 1rem;
  line-height: 1;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.bg-primary {
  background-color: #2b3ddd;
  color: #fff;
}
